API_TITLE=Customer Support AI Team
API_VERSION=0.0.1
API_DESCRIPTION=API to interact with the customer support AI team
API_ROOT_PATH=/
VECTOR_STORE_COLLECTION_NAME=infinitepay_kb
VECTOR_STORE_URL=http://localhost:6333
EMBEDDING_MODEL=sentence-transformers/paraphrase-multilingual-mpnet-base-v2
ANTHROPIC_API_KEY=
TAVILY_API_KEY=